@tailwind base;
@tailwind components;
@tailwind utilities;


.containers {
    width: 90%;
    margin: auto;
}


body {
    -webkit-touch-callout: none;
    /* Disable callout on iOS */
    -webkit-user-select: none;
    /* Disable selection on iOS */
    -khtml-user-select: none;
    /* Disable selection on old Konqueror browsers */
    -moz-user-select: none;
    /* Disable selection on Firefox */
    -ms-user-select: none;
    /* Disable selection on Internet Explorer */
    user-select: none;
    /* Disable selection on modern browsers */
}


.btnQrRes:hover {
    background-color: #3C9E48;
    color: #FFFFFF;
}


@media screen and (max-width:768px) {
    .CounterRes {
        flex-direction: column-reverse;
    }

    .stopres {
        font-size: 25px;
        text-align: center;
    }

    .preventres {
        font-size: 25px;
        text-align: center;
    }

    .QRres {
        font-size: 15px;
        text-align: center;
    }

    .scanres {
        width: 80%;
        display: flex;
        justify-content: center;
        margin-right: auto;
        margin-left: auto;
    }

}

@media screen and (max-width:1024px) {
    .stopres {
        font-size: 25px;
    }

    .preventres {
        font-size: 25px;

    }

    .QRres {
        font-size: 15px;
    }

    .btnQrRes {
        width: 200px;
        padding: 15px;
    }
}



@media screen and (max-width:575px) {
    .CounterRes {
        flex-direction: column-reverse;
    }

    .stopres {
        text-align: center;
        margin-bottom: 10px
    }

    .preventres {
        text-align: center;
        margin-bottom: 10px
    }

    .QRres {
        text-align: center;
    }

    .btnQrRes {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
    }

    .btnQrRes {
        width: 200px;
        padding: 15px;
    }
}



/* ######################### Authenrication ############################ */
@media screen and (max-width:768px) {
    .authres {
        flex-direction: column;
    }

    .authimgres {
        width: 450px;
    }

    .mobauthres {
        font-size: 30px;
    }

}


@media screen and (max-width:575px) {
    .authres {
        flex-direction: column;
    }

    .authimgres {
        width: 250px;
    }

    .mobauthres {
        font-size: 20px;
    }

    .authparares {
        font-size: 14px;
    }
}

.hrborder {
    border: 1px solid #008BBF;
}


/* ############################# Pricing ############################## */


@media screen and (max-width:768px) {
    .priceres {
        font-size: 25px;
        text-align: center;
    }

    .numres {
        font-size: 50px;
    }

    .dollarSign {
        font-size: 30px;
        left: -17%;

    }

}


@media screen and (max-width:575px) {
    .priceres {
        font-size: 20px;
    }

    .priceparares {
        font-size: 14px;
    }

    .numres {
        font-size: 40px;
    }

    .dollarSign {
        font-size: 25px;

    }

    .bestoff {
        padding: 6px;
        font-size: 13px;
    }

}

@media screen and (max-width:320px) {
    .dollarSign {
        font-size: 25px;
    }
}

.borderRound {
    border: 1px solid #0F7CC0;
}

.bggradient {
    background: radial-gradient(115.09% 115.09% at 85.22% 10.26%, #0F7CC0 32.02%, rgba(29, 140, 185, 0.861444) 58.01%, rgba(0, 92, 149, 0) 100%)
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
    ;

}

.change_color {
    background: radial-gradient(115.09% 115.09% at 85.22% 10.26%, #0F7CC0 32.02%, rgba(29, 140, 185, 0.861444) 58.01%, rgba(0, 92, 149, 0) 100%);
    filter: drop-shadow(10px 10px 20px rgba(0, 139, 191, 0.3));
}

.bestoff {
    /* background: radial-gradient(77.14% 780.99% at 33.21% 43.18%, #0F7CC0 69.84%, rgba(15, 124, 192, 0) 95.3%);
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.25)); */
    border-radius: 10px 10px 0px 10px;
    background-color: #0F7CC0;
}

.change_color .basic {
    color: white !important;
}

.change_color .basicbtn {
    background-color: white !important;
    color: #0F7CC0 !important;
}

.selected_sale {
    color: #0F7CC0;
    background-color: #FFFFFF;
    /* background: radial-gradient(77.14% 780.99% at 33.21% 43.18%, #ffffff 69.84%, rgba(15, 124, 192, 0) 95.3%); */
    /* filter: drop-shadow(0px 5px 10px rgba(246, 244, 244, 0.25)); */
    z-index: 222;
}

/* .change_colorr {
    color: white !important;
} */

/* .change_color .bestoff {
    background-color: white !important;
    color: #0F7CC0 !important;
} */


/* ####################### Product ########################### */


@media screen and (max-width:768px) {
    .proheadres {
        font-size: 30px;
    }

    .proparares {
        font-size: 30px;
    }

}


@media screen and (max-width:575px) {
    .proheadres {
        font-size: 25px;
    }

    .proparares {
        font-size: 25px;
    }

    .probuttonn {
        font-size: 14px;
        padding: 14px;
        display: flex;
        justify-content: center;
        margin-left: 0;
    }


}

/* ############################# Hover effects ################################ */

.probutton:hover {
    color: #FFFFFF;
    background-color: #3C9E48;
}

.brandformbutton:hover {
    color: #FFFFFF;
    background-color: #3C9E48;
}

.adjust_padding {
    padding-top: 83px;
}

.contactbtn:hover {
    color: #FFFFFF;
    background-color: #3C9E48;
}

.quickhov:hover {
    color: #3C9E48;
}

.numeffect:hover {
    color: #3C9E48;
}

.arrowhide {
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
}

.drophover {
    border: 0.2px solid #008BBF;
    /* box-shadow: 0px 2px 5px rgba(29, 140, 185, 0.861444) */
}

.borderhover {
    border-bottom: 1px solid #008BBF;
    /* box-shadow: 0px 2px 5px rgba(29, 140, 185, 0.861444); */
}



/* ########################### Code ############################### */


@media screen and (max-width:768px) {
    .coderes {
        font-size: 30px;
    }

    .labelres {
        font-size: 22px;
    }

    .trustres {
        font-size: 30px;
    }

}


@media screen and (max-width:575px) {
    .coderes {
        font-size: 25px;
    }

    .labelres {
        font-size: 18px;
    }

    .trustres {
        font-size: 25px;
    }
}


.adjust_modal {
    width: 650px;
}


@media screen and (max-width:768px) {
    .adjust_modal {
        width: 90%;
    }
}

.main_class {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



/* ############################# Brand Protection ############################# */


@media screen and (max-width: 575px) {
    .brandprotection {
        font-size: 25px;
    }

    .brandparres {
        margin-top: 20px;
    }
}

@media screen and (max-width: 768px) {
    .brandprotection {
        font-size: 30Spx;
    }
}

.sqaure {
    position: absolute;
    right: 40px;
    height: 55rem;
    margin-top: 224px
}

.changed_it {
    /* width: 100% !important; */
    margin-left: 5% !important;
}

@media screen and (max-width: 575px) {
    .protectbuild {
        flex-direction: column-reverse;
    }

    .headingprotect {
        font-size: 19px;
        text-align: center;
    }

    .verisyss {
        width: 220px;
        margin-top: 26px;
    }

    .protectbtn {
        padding: 18px;
    }

    .formres {
        padding-left: 0;
        width: 100%;
    }

    .formheading {
        font-size: 23px;
    }

    .formreswidth {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .headingprotect {
        font-size: 23px;
    }

    .protectbuild {
        flex-direction: column-reverse;
    }

    .btnnofprotect {
        display: flex;
        justify-content: center;
    }

    .verisyss {
        padding-top: 30px;
    }

    .formres {
        padding-left: 0;
        width: 100%;
    }

    .formheading {
        font-size: 30px;
    }

    .formreswidth {
        width: 100%;
    }
}


/* @media screen and (max-width: 1024px) {
    .formres{
        padding-left: 0;
        width: 100%;
    }
    .formheading{
        font-size: 30px;
    }
    .formreswidth{
        width: 100%;
    }
} */

input {
    margin-top: 5px;
    outline: none;
    font-size: 15px !important;
    border-radius: 10px;
}


textarea {
    resize: none;
    outline: none;
    border-radius: 10px;
    font-size: 15px !important;
}

select {
    outline: none;
    border-radius: 10px;
    font-size: 15px !important;
    margin-top: 5px;
    -webkit-appearance: none;
    cursor: pointer;
    -moz-appearance: none;
    appearance: none;
    color: #9ca3b7;
    background-image: url(/images/drop2.png);
    /* background-size: cover; */
    background-position: right;
    background-position-y: 50%;
    background-position-x: calc(100% - 25px);
    background-repeat: no-repeat;
}



input {
    border: 1px solid transparent !important;
}

input:hover {
    border: 1px solid #008BBF !important;
}


select {
    border: 1px solid transparent !important;
}

select:hover {
    border: 1px solid #008BBF !important;
}

textarea {
    border: 1px solid transparent !important;
}

textarea:hover {
    border: 1px solid #008BBF !important;
}


.hov-inpp {
    border: 1px solid transparent !important;
}

.hov-inpp:hover {
    border: 1px solid #008BBF !important;
}

@media screen and (max-width: 1024px) {
    .formhelp {
        flex-direction: column-reverse;
    }

    .helpcontent {
        width: 100%;
    }

    .formcontent {
        width: 100%;
    }
}


@media screen and (max-width: 1024px) {
    .contactbanner {
        width: 559px;
        height: 764px;
    }
}

@media screen and (max-width: 912px) {
    .contactbanner {
        width: 470px;
        height: 745px;
    }
}

@media screen and (max-width: 820px) {
    .contactbanner {
        width: 448px;
        height: 737px;
    }
}

@media screen and (max-width: 768px) {
    .contactbanner {
        width: 420px;
        height: 725px;
    }
}

@media screen and (max-width: 768px) {
    .contactbannerrr {
        display: none;
    }

    .contactres {
        text-align: center;
        font-size: 30px;
    }

    .contactpara {
        text-align: center;
        font-size: 20px;
    }

    .contactparaa {
        text-align: center;
        font-size: 20px;
    }

    .contactparares {
        text-align: center;
    }

    .contactres {
        display: flex;
        justify-content: center;
    }

    .formheadres {
        font-size: 30px;
        text-align: center;
    }

    .formparagraph {
        font-size: 20px;
        text-align: center;
    }

}

@media screen and (min-width: 765px) and (max-width: 768px) {
    .contactres {
        text-align: center;
        width: 100%;
    }
}

@media screen and (max-width: 575px) {
    .formparagraph {
        font-size: 15px;
        text-align: center;
    }

    .formheadres {
        font-size: 30px;
        text-align: center;
    }

    .contactpara {
        font-size: 15px;
        text-align: center;
        padding: 0 15px;
    }

    .contactparaa {
        font-size: 15px;
        text-align: center;
        padding: 0 15px;
        padding-bottom: 20px;
    }

    .submitbtn {
        font-size: 15px;
        padding: 10px 45px;
    }
}

@media screen and (min-width: 766px) and (max-width:768px) {
    .links_center {
        align-items: center;
    }
}

@media screen and (max-width: 768px) {
    .veridata {
        text-align: center;
    }

    .company {
        text-align: center;
    }

    .links {
        text-align: center;
    }

    .location {
        text-align: center;
    }

    .new {
        text-align: center;
    }

    .contact {
        text-align: center;
    }

    .veridataimg {
        display: flex;
        justify-content: center;
    }

    .logos {
        display: flex;
        justify-content: center;
    }
}


@media screen and (max-width: 1240px) {
    .square {
        display: none;
    }
}

@media screen and (max-width: 1239px) {
    .formreswidth {
        width: 100%;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1533px) {
    .width_adjust {
        width: 43% !important;
    }
}

@media screen and (min-width: 1534px) and (max-width: 2400px) {
    .width_adjust {
        width: 30% !important;
    }
}

@media screen and (min-width: 1370px) and (max-width: 2400px) {
    .width_set {
        margin: 0 auto;
        width: 67%;
    }

    .stop_counter_set {
        width: 27% !important;
    }
}


/* Navbar */

@media screen and (max-width:768px) {
    .adjust_header {
        position: fixed;
        /* top: 50px; */
        background-color: #E0F3FF;
        width: 100%;
        left: 0;
        /* padding-left: 6%; */
        transition: top 0.7s;
        /* height: 22vh; */
        /* top: calc(22vh - 50px); */
        top: -23.5vh;
        z-index: -3;
    }

    .ordered {
        padding-top: 25px;
        padding-left: 6%;
    }

    .ordered li {
        margin-top: 0px !important;
        padding-top: 25px;
        /* padding-bottom: 20px; */
    }

    .adjust_hamber {
        transition: top 0.7s;
        top: 50px;
    }

    .adjust_header .new_btn {
        padding-top: 25px;
        background-color: #E0F3FF;
        padding-left: 6%;
        padding-bottom: 20px;
    }

    .adjust_small {
        position: initial !important;
        background-color: #E0F3FF;
    }

    .button_sizing {
        font-size: 15px;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 35px;
        padding-right: 35px;
    }

    .buttn_adjust {
        display: flex;
        margin: 0 auto;
    }

    .contact_width {
        width: 160px;
    }

    .faq_width {
        width: 110px;
    }

}


@media screen and (max-width:575PX) {
    .down_drop_sizing {
        font-size: 12px;
    }

    .form_font_sizing {
        font-size: 12px;
    }

    .gap_sizing {
        gap: 35px;
    }

    .button_sizing {
        font-size: 13px;
        padding-top: 11px;
        padding-bottom: 11px;
        /* padding-left: 60px;
        padding-right: 60px; */

    }

    .contact_width {
        width: 150px;
    }

    .faq_width {
        width: 100px;
    }

    .buttn_adjust {
        /* display: flex;
        margin: 0 auto; */
        /* gap: 17px;  */
    }

    .any_ques {
        font-size: 20px;
    }

    .direction_adjust {
        flex-direction: column;
    }

    .bg_set{
        padding-top: 0px !important;
    }
}

.borderColor {
    border: 1px solid #1FA5DE;
    border-radius: 10px;
}

.bg_set {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 300px) {
    .button_sizing {
        font-size: 11px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 31px;
        padding-right: 31px;
    }

    .buttn_adjust {
        gap: 17px;
    }

    .contact_width {
        width: 130px;
    }

    .faq_width {
        width: 80px;
    }
    .any_ques {
        font-size: 19px;
        text-align: center;
    }
}

@media screen and (min-width:769PX) and (max-width:840PX) {
    .contact_width {
        width: 280px;
    }

    .faq_width {
        width: 160px;
    }

    .direction_adjust{
        gap: 55px;
    }
}

/* ################################## SEE MORE DETAIL ################################# */


@media screen and (max-width:1450px) {
    .verisyss_res{
        padding-top: 8px;
    }
}

@media screen and (max-width:1368px) {
    .verisyss_res{
        padding-top: 3px;
    }
  
}

@media screen and (min-width: 1370px) and (max-width: 2400px) {
    .width_sizing {
        margin: 0 auto;
        width: 80%;
    }
}

.vision_shadow{
    box-shadow: 0px 6px 7px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 1350px) {
    .vision_adjusting{
        gap: 0px !important;
    }
}

@media screen and (max-width: 920px) {
    .vision_adjusting{
        gap: 0px !important;
        flex-direction: column;
    }
    .vision_para{
       justify-content: center;
        text-align: center;
        padding-right: 20px ;
        padding-left: 20px ;
        margin: 0 auto;
        padding-bottom: 30px;
    }

    .vision_img{
        justify-content: center;
        display: flex;
        margin: 0 auto;
    }
    .vision2_img{
        display: flex;
        margin: 0 auto;
    }

    .vision_img_res{
        padding-left: 0px;
    }
    .vision2_img_res{
        padding-left: 0px;
    }

    .vision_head_res{
        text-align: center;
    }
    .vision2_head_res{
        text-align: center;
    }
    .faq_gap_res{
        gap: 0px !important;
    }
}

@media screen and (max-width: 575px) {
    .vision2_img{
        width: 155px;
    }
    .vision_img{
        width: 155px;
    }
    .frrquent_res{
        font-size: 25px;
    }
    .faq_res{
        font-size: 28px;
    }
    .faq_gap_res{
        gap: 0px !important;
    }

    .vision_find{
        text-align: center;
        font-size: 22px;
    }
    .vision_head_res{
        font-size: 23px;
        padding-bottom: 35px;
    }
    .vision2_head_res{
        font-size: 23px;
        padding-bottom: 35px;
    }
}

@media screen and (max-width: 1024px) {
  .faq_img_res{
    display: none;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1480px) {
  .faq_img_res{
    max-width: 424px;
  }
}

@media screen and (min-width: 1782px) {
    .faq_img_res{
      max-width: 450px;
    }
  }

@media screen and (max-width: 319px) {
    .vision2_img{
        width: 110px !important;
    }
    .vision_img{
        width: 110px !important;
    }
    .vision_head_res{
        font-size: 22px;
        padding-bottom: 35px;
    }
    .vision2_head_res{
        font-size: 22px;
        padding-bottom: 35px;
    }
    .vision_para{
        font-size: 12px !important;
    }
    .vision1_para{
        font-size: 12px !important;
    }
  }

  .veri_contact_bg{
    background-position-x: center;
  }

  @media screen and (max-width:2040px) {
    .verisyss_step{
        padding-top: 130px;
    }
    .verisyss_para{
        padding-top: 45px;
    }
  }

  @media screen and (max-width:1300px) {
    .verisyss_step{
        padding-top: 130px;
    }
    .verisyss_para{
        padding-top: 45px;
    }
    .veri_contact_bg{
        background-position-x: 24%;
    }
  }

  @media screen and (max-width:1298px) {
    .veri_contact_bg{
        /* background-position: center; */
    }
  }


  @media screen and (max-width:1200px) {
    .veri_contact_bg{
        /* background-position-x: 586px; */
    }
  }
  @media screen and (max-width:1032px) {
    .veri_contact_bg{
        /* background-position-x: 56px; */
    }
    .verisyss_step{
        width: 100%;
        text-align: center;
    }
    .verisyss_para{
       text-align: center;
       width: 100%;
       padding-bottom: 30px;
       margin: auto auto;
      
    }
    /* .verisyss_res{
        padding-top: 150px;
    } */
  }

  @media screen and (max-width:1024px) {
    .veri_contact_bg{
        background-position-x: 0%;
    }
  }

  .active{
    color: #009245;
  }