@tailwind base;
@tailwind components;
@tailwind utilities;


.containers {
    width: 90%;
    margin: auto;
}


body {
    -webkit-touch-callout: none;
    /* Disable callout on iOS */
    -webkit-user-select: none;
    /* Disable selection on iOS */
    -khtml-user-select: none;
    /* Disable selection on old Konqueror browsers */
    -moz-user-select: none;
    /* Disable selection on Firefox */
    -ms-user-select: none;
    /* Disable selection on Internet Explorer */
    user-select: none;
    /* Disable selection on modern browsers */
}


.btnQrRes:hover {
    background-color: #3C9E48;
    color: #FFFFFF;
}


@media screen and (max-width:768px) {
    .CounterRes {
        flex-direction: column-reverse;
    }

    .stopres {
        font-size: 25px;
    }

    .preventres {
        font-size: 25px;
    }

    .QRres {
        font-size: 15px;
    }

    .scanres {
        width: 80%;
        display: flex;
        justify-content: center;
        margin-right: auto;
        margin-left: auto;
    }

}

@media screen and (max-width:575px) {
    .CounterRes {
        flex-direction: column-reverse;
    }

    .stopres {
        text-align: center;
        margin-bottom: 10px
    }

    .preventres {
        text-align: center;
        margin-bottom: 10px
    }

    .QRres {
        text-align: center;
    }

    .btnQrRes {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
    }
}



/* ######################### Authenrication ############################ */
@media screen and (max-width:768px) {
    .authres {
        flex-direction: column;
    }

    .authimgres {
        width: 450px;
    }

    .mobauthres {
        font-size: 30px;
    }

}


@media screen and (max-width:575px) {
    .authres {
        flex-direction: column;
    }

    .authimgres {
        width: 250px;
    }

    .mobauthres {
        font-size: 20px;
    }

    .authparares {
        font-size: 14px;
    }
}

.hrborder {
    border: 1px solid #008BBF;
}


/* ############################# Pricing ############################## */


@media screen and (max-width:768px) {
    .priceres {
        font-size: 25px;
        text-align: center;
    }

    .numres {
        font-size: 50px;
    }

    .dollarSign {
        font-size: 30px;
        left: -17%;

    }

}


@media screen and (max-width:575px) {
    .priceres {
        font-size: 20px;
    }

    .priceparares {
        font-size: 14px;
    }

    .numres {
        font-size: 40px;
    }

    .dollarSign {
        font-size: 25px;

    }

}

@media screen and (max-width:320px) {
    .dollarSign {
        font-size: 25px;
    }
}

.borderRound {
    border: 1px solid #0F7CC0;
}

.bggradient {
    background: radial-gradient(115.09% 115.09% at 85.22% 10.26%, #0F7CC0 32.02%, rgba(29, 140, 185, 0.861444) 58.01%, rgba(0, 92, 149, 0) 100%)
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
    ;

}

.change_color {
    background: radial-gradient(115.09% 115.09% at 85.22% 10.26%, #0F7CC0 32.02%, rgba(29, 140, 185, 0.861444) 58.01%, rgba(0, 92, 149, 0) 100%);
    filter: drop-shadow(10px 10px 20px rgba(0, 139, 191, 0.3));
}

.bestoff {
    /* background: radial-gradient(77.14% 780.99% at 33.21% 43.18%, #0F7CC0 69.84%, rgba(15, 124, 192, 0) 95.3%);
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.25)); */
    border-radius: 10px 10px 0px 10px;
    background-color: #0F7CC0;
}

.change_color .basic {
    color: white !important;
}

.change_color .basicbtn {
    background-color: white !important;
    color: #0F7CC0 !important;
}

.selected_sale {
    color: #0F7CC0;
    background-color: #FFFFFF;
    /* background: radial-gradient(77.14% 780.99% at 33.21% 43.18%, #ffffff 69.84%, rgba(15, 124, 192, 0) 95.3%); */
    /* filter: drop-shadow(0px 5px 10px rgba(246, 244, 244, 0.25)); */
    z-index: 222;
}

/* .change_colorr {
    color: white !important;
} */

/* .change_color .bestoff {
    background-color: white !important;
    color: #0F7CC0 !important;
} */


/* ####################### Product ########################### */


@media screen and (max-width:768px) {
    .proheadres {
        font-size: 30px;
    }

    .proparares {
        font-size: 30px;
    }

}


@media screen and (max-width:575px) {
    .proheadres {
        font-size: 25px;
    }

    .proparares {
        font-size: 25px;
    }

    .probuttonn {
        font-size: 14px;
        padding: 14px;
        display: flex;
        justify-content: center;
        margin-left: 0;
    }
}

/* ############################# Hover effects ################################ */

.probutton:hover {
    color: #FFFFFF;
    background-color: #3C9E48;
}

.brandformbutton:hover {
    color: #FFFFFF;
    background-color: #3C9E48;
}

.adjust_padding {
    padding-top: 83px;
}

.contactbtn:hover {
    color: #FFFFFF;
    background-color: #3C9E48;
}

.quickhov:hover {
    color: #3C9E48;
}

.arrowhide {
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
}

.drophover {
    border: 0.2px solid #008BBF;
    /* box-shadow: 0px 2px 5px rgba(29, 140, 185, 0.861444) */
}

.borderhover {
    border-bottom: 1px solid #008BBF;
    /* box-shadow: 0px 2px 5px rgba(29, 140, 185, 0.861444); */
}



/* ########################### Code ############################### */


@media screen and (max-width:768px) {
    .coderes {
        font-size: 30px;
    }

    .labelres {
        font-size: 22px;
    }

    .trustres {
        font-size: 30px;
    }

}


@media screen and (max-width:575px) {
    .coderes {
        font-size: 25px;
    }

    .labelres {
        font-size: 18px;
    }

    .trustres {
        font-size: 25px;
    }
}


.adjust_modal {
    width: 650px;
}


@media screen and (max-width:768px) {
    .adjust_modal {
        width: 90%;
    }
}

.main_class {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



/* ############################# Brand Protection ############################# */


@media screen and (max-width: 575px) {
    .brandprotection {
        font-size: 25px;
    }

    .brandparres {
        margin-top: 20px;
    }
}

@media screen and (max-width: 768px) {
    .brandprotection {
        font-size: 30Spx;
    }
}

.sqaure {
    position: absolute;
    right: 40px;
    height: 55rem;
    margin-top: 224px
}

.changed_it {
    /* width: 100% !important; */
    margin-left: 5% !important;
}

@media screen and (max-width: 575px) {
    .protectbuild {
        flex-direction: column-reverse;
    }

    .headingprotect {
        font-size: 20px;
        text-align: center;
    }

    .verisyss {
        width: 220px;
        margin-top: 26px;
    }

    .protectbtn {
        padding: 18px;
    }

    .formres {
        padding-left: 0;
        width: 100%;
    }

    .formheading {
        font-size: 23px;
    }

    .formreswidth {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .headingprotect {
        font-size: 25px;
    }

    .protectbuild {
        flex-direction: column-reverse;
    }

    .btnnofprotect {
        display: flex;
        justify-content: center;
    }

    .verisyss {
        padding-top: 30px;
    }

    .formres {
        padding-left: 0;
        width: 100%;
    }

    .formheading {
        font-size: 30px;
    }

    .formreswidth {
        width: 100%;
    }
}


/* @media screen and (max-width: 1024px) {
    .formres{
        padding-left: 0;
        width: 100%;
    }
    .formheading{
        font-size: 30px;
    }
    .formreswidth{
        width: 100%;
    }
} */

input {
    margin-top: 5px;
    outline: none;
    font-size: 15px !important;
    border-radius: 10px;
}


textarea {
    resize: none;
    outline: none;
    border-radius: 10px;
    font-size: 15px !important;
}

select {
    outline: none;
    border-radius: 10px;
    font-size: 15px !important;
    margin-top: 5px;
    -webkit-appearance: none;
    cursor: pointer;
    -moz-appearance: none;
    appearance: none;
    color: #9ca3b7;
    background-image: url(/images/drop2.png);
    /* background-size: cover; */
    background-position: right;
    background-position-y: 50%;
    background-position-x: calc(100% - 25px);
    background-repeat: no-repeat;
}



input {
    border: 1px solid transparent !important;
}

input:hover {
    border: 1px solid #008BBF !important;
}


select {
    border: 1px solid transparent !important;
}

select:hover {
    border: 1px solid #008BBF !important;
}

textarea {
    border: 1px solid transparent !important;
}

textarea:hover {
    border: 1px solid #008BBF !important;
}


.hov-inpp {
    border: 1px solid transparent !important;
}

.hov-inpp:hover {
    border: 1px solid #008BBF !important;
}

@media screen and (max-width: 1024px) {
    .formhelp {
        flex-direction: column-reverse;
    }

    .helpcontent {
        width: 100%;
    }

    .formcontent {
        width: 100%;
    }
}


@media screen and (max-width: 1024px) {
    .contactbanner {
        width: 559px;
        height: 764px;
    }
}

@media screen and (max-width: 912px) {
    .contactbanner {
        width: 470px;
        height: 745px;
    }
}

@media screen and (max-width: 820px) {
    .contactbanner {
        width: 448px;
        height: 737px;
    }
}

@media screen and (max-width: 768px) {
    .contactbanner {
        width: 420px;
        height: 725px;
    }
}

@media screen and (max-width: 767px) {
    .contactbannerrr {
        display: none;
    }

    .contactres {
        text-align: center;
    }

    .contactpara {
        text-align: center;
    }

    .contactparares {
        text-align: center;
    }

    .contactres {
        display: flex;
        justify-content: center;

    }

}


@media screen and (max-width: 1024px) {
    .contactbannerrr {
        display: none;
    }
}